@charset "utf-8";
/* CSS Document */

h1 {
	color:#FFF;
	font-family: 'Special Elite', "Courier New", Courier, type;
	font-size:36px;	
}

body {
	background-color:#141414;
	background-image: url("https://github.com/JesseJonesDesign/github-pages/blob/my-pages/images/DALL%C2%B7E%202022-11-17%2002.55.24%20-%20%E2%80%9Cthe%20back%20of%20a%20girl%20holding%20a%20gun,%20walking%20up%20some%20steps%20to%20a%20high%20school%20with%20a%20first%20person%20girls%20hand%20holding%20a%20polaroid%20of%20two%20japanese%20sisters%20in.png?raw=true");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	margin: O auto;
}

input {
	background-color:#000;
	margin: O auto;
	color:#FFF;
	font-family: 'Special Elite', "Courier New", Courier, type;
	font-size:18px;
	/*width:470px;*/
	width:99%;
}

.message {
	color:#FFF;
	font-family: "Courier New", Courier, type;
	font-size:18px;
	line-height:150%;
	margin-top:20px;
}

#music {
	display:none;
}
